* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffc021;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 20px;
}

section {
  padding: 15px;
}

.navActive {
  border-bottom: 3px solid #FFF;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.nav-link {
  padding: 5px;
}

.nav-link:hover {
  cursor: pointer;
  border-bottom: 3px solid #FFF;
}