* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #F5C852;
  --text: #2A2C39;
  --accent1: #ED7559;
  --accent2: #7F8BD0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  max-width: 750px;
  height: auto;
}

main {
  padding: 20px;
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer {
  background: var(--accent2);
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}

i {
  font-size: 150%;
  opacity: 60%;
  margin: 10px;
}

i:hover {
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

section {
  padding: 15px;
}

.navActive {
  border-bottom: 3px solid var(--accent1);
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
}

.nav-link {
  padding: 5px;
  color: rgba(255, 255, 255, 0.9);
}

.nav-link:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--accent1);
}

.portfolio-container {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.portfolio-img-container {
  position: relative;
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  display: block;
}

.portfolio-img-title {
  text-transform: uppercase;
  font-size: smaller;
  color: #FFF;
  font-weight: bold;
}

.screen {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen:hover {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  object-position: center top;
  border-radius: 5px;
}